@import '../../Helper/helper.scss';

.transaction {
  display: flex;
  width: 100%;
  .transactionContainer {
    flex: 6;
    .transactions {
      padding: 1.25rem;
      h1 {
        @include headingOne();
      }
      .transactionsList {
        @include Shadow();
        // .tabList {
        //   color: $primaryColor;
        //   .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        //     color: $primaryColor;
        //   }
        // }
        .table {
          .tableCell {
            .deposit {
              @include transactionStatus($depositBg, $depositColor);
            }
            .transfer {
              @include transactionStatus($transferBg, $transferColor);
            }
            .payment {
              @include transactionStatus($paymentBg, $paymentColor);
            }
            .refund {
              @include transactionStatus($refundBg, $refundColor);
            }
          }
          .tableHead {
            @include tableHead();
          }
          // .date {
          //   font-weight: 600;
          // }
          // .time {
          //   color: #aab0b7;
          //   padding-top: 0.313rem;
          // }
          @include dateAndTime();
          .cellWrapper {
            @include cellWrapper();
          }
        }

        .singleTab.Mui-selected {
          color: $primaryColor;
        }
        .css-1aquho2-MuiTabs-indicator {
          background-color: $primaryColor;
        }
      }
    }
  }
}
