.landing {
  background-color: #231c07;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(128, 128, 128, 0.5);
}
.navigation {
  display: flex;
  a {
    color: #f8f9fa;
    text-decoration: none;
    margin-left: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
