.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;
    .top {
      padding: 1.25rem;
      display: flex;
      gap: 1.25rem;
      .left {
        position: relative;
        flex: 1;
        padding: 0.625rem;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.313rem;
          font-size: 0.75rem;
          color: #7451f8;
          background-color: #7551f831;
          cursor: pointer;
        }
        .item {
          display: flex;
          align-items: center;
          gap: 1.25rem;
          justify-content: space-evenly;
          .itemImage {
            width: 6.25rem;
            height: 6.25rem;
            border-radius: 50%;
            object-fit: cover;
          }
          .details {
            .itemTitle {
              margin-bottom: 0.625rem;
              color: #555555;
            }
            .detailItem {
              margin-bottom: 0.625rem;
              font-size: 0.875rem;
              .itemKey {
                font-weight: 500;
                color: #333;
                margin-right: 0.313rem;
              }
              .itemValue {
                font-weight: 400;
              }
            }
          }
        }
      }
      .right {
        flex: 2;
      }
    }
    .bottom {
      padding: 1.25rem;
      margin: 0.625rem 1.25rem;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
    }
    .leftTitle {
      font-size: 1rem;
      color: #222;
      margin-bottom: 1.25rem;
    }
  }
}
