.datatable {
  padding: 1.25rem;
  .datatableTitle {
    width: 100%;
    font-size: 1.5rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    .link {
      color: green;
      font-size: 1rem;
      font-weight: 400;
      border: 1px solid green;
      padding: 0.313rem;
      border-radius: 0.313rem;
      cursor: pointer;
    }
  }
  .cellWithImg {
    display: flex;
    align-items: center;
    .cellImg {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1.25rem;
    }
  }
  .cellWithStatus {
    padding: 0.313rem;
    border-radius: 0.313rem;
    font-weight: 500;
    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(225, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(225, 0, 0, 0.05);
      color: crimson;
    }
  }
  .cellAction {
    display: flex;
    align-items: center;
    gap: 0.938rem;
    
    .viewButton {
      padding: 0.125rem 0.313rem;
      border-radius: 0.313rem;
      color: darkblue;
      border: 1px solid rgba(0, 0, 139, 0.466);
      cursor: pointer;
    }
    .deleteButton {
      padding: 0.125rem 0.313rem;
      border-radius: 0.313rem;
      color: crimson;
      border: 1px solid rgba(220, 20, 60, 0.466);
      cursor: pointer;
    }
  }
}
