.new {
  width: 100%;
  display: flex;
  .newContainer {
    flex: 6;
    .top,
    .bottom {
      display: flex;
      padding: 0.625rem;
      margin: 0.625rem;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
      h1 {
        color: #222;
        font-size: 1.25rem;
      }
      .left {
        flex: 1;
        text-align: center;
        img {
          width: 6.125rem;
          height: 6.125rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        form {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 2.25rem;
          .formInput {
            width: 40%;
            label {
              display: flex;
              align-items: center;
              gap: 0.625rem;
              .icon {
                cursor: pointer;
              }
            }
            input {
              width: 100%;
              padding: 0.313rem;
              border: none;
              border-bottom: 1px solid gray;
            }
          }
          button {
            width: 9.375rem;
            padding: 0.625rem;
            border: none;
            background-color: teal;
            color: #eee;
            font-weight: 500;
            cursor: pointer;
            margin-top: 0.625rem;
            display: inline-block;
          }
        }
      }
    }
  }
}
